* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: aqua;
}

fieldset {
    padding: 2rem 1rem ;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: yellowgreen;
    width: 50%;
    
}
